nav {
    background: var(--black);
    justify-content: space-between;
    align-items: center;
    padding: .8em var(--padding-left-right);
}

nav ul {
    display: none;
}

@media (min-width: 800px) {
    nav ul {
        display: flex;
        min-width: 300px;
        justify-content: space-between;
    }
}